body {
    margin: auto;
    text-align: center;
	 -moz-transform: scale(1.35); /* for Firefox, default 1*/
    zoom:135%; /* For Chrome, IE, default 100%*/
}

#input {
    text-align: right;
}

#timer {
    text-align: left;
}